*{
	padding: 0:
	margin:0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
	font-family:'Montserrat',sans-serif;
}
a{
text-decoration: none;
}
.container{
	min-height: 100vh;
	width: 100%;
    display:flex;
    align-items: center;
	justify-content: center;
}
img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p{

	font-size: 1.4rem;
	text-align: left;
	line-height: 1.9rem;
}

#header{
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header{
	min-height: 8vh;
	background-color: rgb(31,30,30,0.24);
}
#header .nav-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul{
	list-style: none;
	position: absolute;
	background-color: rgb(31,30,30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
   transition: .5s ease left;
}

#header .nav-list ul a{
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after{
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	color: rgba(340,248,255,0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
	transform: translate(-50%,-50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
	color:  #33CCFF;
}
#header .hamburger{
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
 	z-index: 100;
 	cursor: pointer;
 	transition: scale(.8);
 	margin-right: 20px;

}
#header .hamburger:after{
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border:3px solid white;
     animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar{
 height: 2px;
 width: 30px;
 position: relative;
 background-color: white;
 z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after{
	top: 8px;
}
#header .hamburger .bar::before{
  bottom: 8px;
}

#header .hamburger.active .bar::before{
	bottom: 0;
}

#header .hamburger.active .bar::after{
top: 0;
}
#header .nav-list ul.active{
	left: 0;
}




#hero{
	background-image: url(image/shoot.jpg);
	background-size: cover;
	background-position:top center ;
	position: relative;
}
#hero::after{
	content:'';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width:100%;
	background-color: black;
	opacity: -7;
	z-index: -1;
}
#hero .hero{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1{
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 1s ease forwards;
    animation-delay: 1.5s;
}
#hero h1:nth-child(1){
	animation-delay: 1.5s;
}
#hero h1 span {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0;
background-color: #33CCFF;
animation: text_reveal_box 1s ease;
animation-delay: 0.1s;
}
#hero .cta{
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border:3px solid #33CCFF;
	text-transform: uppercase;
	font-size: 2rem;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: 0.5s ease;
    transition-property: background-color,color;
}
#hero .cta:hover{
color: white;
background-color: #33CCFF;
}
.brand h1{
	font-size: 3rem;
	color: white;
	text-transform: uppercase;
}
.brand h1 span{
	color:#33CCFF;
}
#services{}
#services .services{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .section-title{
	font-size: 6rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	letter-spacing: .2rem;
	text-align: center;
}
#services .section-title span{
	color:#33CCFF ;
}
#services .service-top p{
color: black;
font-size: 1.4rem;
margin-top: 5px;
line-height: 2.5rem;
font-weight: 300;
letter-spacing: 0.5rem;

}
#services .service-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

#services .service-item{
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
    background-image: url(image/12.jpg);
    border-radius: 10px;
    padding: 30px;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg,#29323c 0%,#485563 100%);
    opacity:.5;
	z-index: -1; 
}
#services .service-bottom .icon{
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-bottom .icon{
 height: 100%;
 width:100%;
 object-fit: cover;
}

#services .service-item h2{
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p{
	color: white;
	font-size: 1.4rem;
	text-align: left;
	line-height: 1.9rem;

}


input[type=text], select, textarea {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: transparent;
  border-style: none;
  border-bottom: 2px solid skyblue;
  color: white;
  font-size: 1.5rem;

}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: skyblue;
  color: white;
  padding: 17px 28px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color:	white;
  color: skyblue;
}

.formbox {
  border-radius: 10px;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(office1.jpg);
  background-size: cover;

  opacity: -20px;
  padding: 20px;
  width: 70%;
  margin-left: 15%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 15px;
  font-size: 1.7rem;
  color: white;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


#contact .contact{
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}
#contact .contact-items{
	width:400px;	  
}
#contact .contact-item{
	width:80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin:30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 black;
	transition: .3s ease box-shadow;
}
#contact .contact-item:hover{
	box-shadow: 0px 0px 5px black;

}
#contact .icon{
	width: 70px;
	margin:0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1{
	font-size: 3rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h1{
	font-size: 1.5rem;
	font font-weight: 2rem;
	font-weight: 500;
}
#contact .contact-info h2{
	font-size: 1.3rem;
}
#footer{
	background-image: linear-gradient(60deg, #29323c,#485563 100%);
}
#footer .footer{
	min-height: 200px;
	flex-direction: column;
	padding-bottom: 10px;
	padding-top: 20px;
}

#footer .social-icon{
	display: flex;
	margin-bottom: 30px;
	padding: 10px;
}
#footer .social-item{
	height: 50px;
	width: 50px;
	margin-bottom: 0 5px;
}
.offer span{
	color: skyblue;
}

#flip{
	display: flex;
	justify-content:center;
	align-items: center;
	flex-wrap: wrap;
	transform-style: preserve-3d;
	width: 1100px;
}
#flip .card{
	position: relative;
	width: 320px;
	height: 320px;
	margin-right: 20px;
	transform-style: preserve-3d;
	perspective: 1000px;
}
#flip .card .box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: 1s ease;
}
#flip .card:hover .box{
 transform: rotateY(180deg);
}

#flip.card .box .imgbx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}

#flip .card .box .imgbx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#flip .card .box .contentbx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transform: rotateY(180deg);
}  
#flip .card .box .contentbx div
{
transform-style: preserve-3d;
padding: 60px;
background: linear-gradient(45deg,#fe0061,#ffeb3b);
transform: translateZ(100px);
}  

#flip .card .box .contentbx div h2{
	color: #fff;
	font-size: 20px;
	letter-spacing: 1px;
}
#flip .card .box .contentbx div p{
	color: #fff;
	font-size: 16px;
	
}



@keyframes text_reveal_box{
	50%{
		width:100%;
		left: 0;
	}
    100%{
    	width: 0;
    	left: 100%;
    } 
}
@keyframes text_reveal{
	100%{
		color: white;
	}
}
@media only screen and (min-width: 1200px){
#header .hamburger{
	display: none;
}	
#header .nav-list ul{
	position: initial;
	display: block;
	height: auto;
	width: fit-content;
    background-color: transparent;
}
#header .nav-list ul li{
	display: inline-block;
}
#header .nav-list ul li a{
	font-size: 1.8rem;
}
#header .nav-list ul a:after{
	display: none;
}

}

@keyframes hamburger_puls{
	0%{
		opacity: 1;
		transition: scale(1);
	}
	100%{
		opacity: 0;
		transform: scale(1.4);
	}
}
@media only screen and (min-width:768px){
	.cta{
		font-size: 2rem;
		padding: 20px 60px;
	}


	#services .service-bottom .service-item{
		flex-basis: 45%;
		margin: 5%;
	}


	#contact .contact{
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-height: 20vh;

	}
  #contact .contact-items{
  	width: 100%;
  	display: flex;
  	flex-direction: row;
  }
  
}




@keyframes marquee{
	  0% {
    margin-left: 100%;
    transform: translateX(0%);
  }
  100% {
    margin-left: 0;
    transform: translateX(-100%);
  }
}
#section {
  overflow: hidden;

}

.text-styling {
background-color: skyblue;
  padding: 1em;
  color: white;
  font-size: 2rem;
}

